
.ct-wrapper {

    .ct-container {
        overflow: hidden;
        position: relative;
        display: block;

        img {
            pointer-events: none;
            display: block;
            width: 100%;
            height: auto;
        }

        .ct-selection {
            -webkit-tranform: translate3d(0,0,0);
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            display: none;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            position: absolute;
            border: 1px dashed #B7B7B7;
            outline-color: #000;
            outline-color: rgba(0, 0, 0, 0.8);
            outline-style: solid;
            outline-width: 5120px;

            .ct-information {
                font-family: 'Times Roman';
                position: absolute;
                background: #FFF;
                font-size: 10px;
                display: block;
                opacity: 0.6;
                padding: 0 2px;
                right: -1px;
                top: -1px;
            }

            .ct-point {
                position: absolute;
                background: #FFF;
                width: 6px;
                height: 6px;
                top: auto;
                left: auto;
                bottom: auto;
                right: auto;
            }

            .ct-point-top {
                margin: -4px 0 0 -3px;
                left: 50%;
            }

            .ct-point-top-right {
                margin: -4px -4px 0 0;
                right: 0;
            }

            .ct-point-right {
                margin: -3px -4px 0 0;
                top: 50%;
                right: 0;
            }

            .ct-point-bottom-right {
                margin: 0 -4px -4px 0;
                right: 0;
                bottom: 0;
            }

            .ct-point-bottom {
                margin: 0 0 -4px -3px;
                left: 50%;
                bottom: 0;
            }

            .ct-point-bottom-left {
                margin: 0 0 -4px -4px;
                left: 0;
                bottom: 0;
            }

            .ct-point-left {
                margin: -3px 0 0 -4px;
                left: 0;
                top: 50%;
            }

            .ct-point-top-left {
                margin: -4px 0 0 -4px;
                left: 0;
                top: 0;
            }

            .ct-remnant {
                display: none;
            }

            &.no-dots {

                .ct-point {
                    display: none;
                }
            }

            &.no-outline {

                .ct-remnant {
                    display: block;
                    position: absolute;
                    background: #000;
                    background: rgba(0, 0, 0, 0.8);
                }

                .ct-remnant-top {
                    top: -10001px;
                    left: -1px;
                    right: -1px;
                    height: 10000px;
                }

                .ct-remnant-right {
                    top: -5000px;
                    right: -10001px;
                    width: 10000px;
                    height: 10000px;
                }

                .ct-remnant-bottom {
                    bottom: -10001px;
                    left: -1px;
                    right: -1px;
                    height: 10000px;
                }

                .ct-remnant-left {
                    bottom: -5000px;
                    left: -10001px;
                    width: 10000px;
                    height: 10000px;
                }
            }
        }
    }
}